node_modules
temp
*.log
.idea/
.vscode/
.DS_Store
frontend/dist
log/*.log
log/*.html
log/*.csv
frontend/landing/dist
frontend/landing-new/dist
frontend/rocket-landing/public
frontend/traffic-church-landing/dist
.history/
.nosync
.swp
.env
.nyc_output
coverage
.nyc-output
.prettierrc

# nuxt.js build output
.nuxt

.terraform
*secrets*
*tfstate*
